a {
    display: inline-block;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
}

p {
    margin: 0;
}

// var 
$white-color:#fff;
$lighr-color:#F0F2F4;
$light-color2:#F5F5F5;
$green-color:#44B45C;
$green-color2:#66BB6A;
$brown-color:#3B3322;
$brown-color2:#544837;
$brown-color3:#2F281E;
$black-color:#000000;
$dark-color:#324148;
$gray-color:#707070;
$gray-color2:#B4B4B4;
$gray-color3:#CECDCD;
$gray-color4:#E6E5E5;
// var
body {
    font-family: 'Almarai', sans-serif;
}

.ul-n {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left-0 {
    left: 0 !important;
}

.overflow-hide {
    overflow-y: hidden;
}

.transetion-4 {
    transition: .4s all ease-in-out;
}

.over-lay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($brown-color, .5);
    z-index: 88;
}

.contact-ul {
    ul {
        @extend.ul-n;
        display: flex;
        justify-content: flex-end;
        li {
            margin: 0 25px;
            padding: 0 0 0 27px;
            position: relative;
            &:last-of-type {
                margin: 0 25px 0 0;
            }
            &::after {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: rgba($white-color, 1);
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                left: 0;
            }
            &.mail-li {
                &::after {
                    content: "\f0e0";
                }
            }
            &.phone-li {
                &::after {
                    content: "\f879";
                }
            }
            a {
                color: rgba($white-color, 1);
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                @extend.transetion-4;
                &:hover {
                    color: rgba($brown-color, 1);
                }
            }
        }
    }
}

.soshile-ul-box {
    ul {
        display: flex;
        @extend.ul-n;
        li {
            margin: 0 7.5px;
            a {
                i {
                    color: rgba($white-color, 1);
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    line-height: 25px;
                    text-align: center;
                    font-size: 14px;
                    @extend.transetion-4;
                    border: 1px solid rgba($white-color, 1);
                    &:hover {
                        color: rgba($brown-color, 1);
                        border: 1px solid rgba($brown-color, 1);
                    }
                }
            }
        }
    }
}

.buttom-a {
    margin: 30px 0 0;
    a {
        font-size: 16px;
        padding: 15px 50px;
        background-color: rgba($green-color, 1);
        border: 1px solid rgba($green-color, 1);
        border-radius: 6px;
        color: rgba($white-color, 1);
        @extend.transetion-4;
        display: inline-block;
        &:hover {
            color: rgba($green-color, 1);
            background-color: rgba($white-color, 1);
        }
    }
}

.buttom-a2 {
    margin: 50px 0 0;
    text-align: center;
    a {
        font-size: 16px;
        padding: 15px 25px;
        background-color: rgba($green-color, 1);
        border: 1px solid rgba($green-color, 1);
        border-radius: 6px;
        color: rgba($white-color, 1);
        @extend.transetion-4;
        display: inline-block;
        &:hover {
            color: rgba($green-color, 1);
            background-color: rgba($white-color, 1);
        }
    }
}

.prag {
    font-size: 14px;
    font-weight: 500;
    color: rgba($brown-color2, 1);
}

.box-title {
    margin: 22px 0;
    font-size: 22px;
    color: rgba($brown-color, 1);
    font-weight: 500;
}

.img-box {
    width: 80px;
    height: 80px;
    text-align: center;
    text-align: center;
    background-color: rgba($green-color, 1);
    border-radius: 10px;
    line-height: 78px;
    margin: 0 auto;
    box-shadow: -1px 6px 20px rgba($black-color, .16);
}

.padi-50 {
    padding: 50px 0;
}

.devo-title-section {
    text-align: center;
    padding: 0 0 40px;
    .devo-title-section-h2 {
        color: rgba($green-color, 1);
        font-weight: 600;
        font-size: 35px;
        margin: 0 0 20px;
    }
    .devo-title-prag {
        font-size: 23px;
        font-weight: 500;
        padding: 0 22px;
    }
}

.buttom-work-show {
    text-align: end;
    a {
        border-radius: 5px;
        background-color: rgba($white-color, 1);
        color: rgba($green-color2, 1);
        font-size: 16px;
        font-weight: 600;
        padding: 5px 36px 6px;
        @extend.transetion-4;
        &:hover {
            color: rgba($white-color, 1);
            background-color: rgba($green-color2, 1);
        }
    }
}

.show-form {
    display: flex !important;
    animation: show-form-animation .5s 1 ease-in-out !important;
}

// start header
.devo-info-header {
    background-color: rgba($green-color, 1);
    padding: 12px;
}

// end header  
// start devo-min-header
.devo-min-header {
    padding: 21px 0;
    border-bottom: 1px solid rgba($gray-color2, 1);
    .home & {
        border-bottom: unset;
    }
    .menu-icon {
        display: none;
        i {
            @extend.transetion-4;
        }
    }
    .nav-ul {
        display: flex;
        @extend.ul-n;
        align-items: center;
        justify-content: flex-end;
        @extend.transetion-4;
        .info-ul {
            display: none;
        }
        .close-icon {
            display: none;
            i {
                @extend.transetion-4;
            }
        }
        .devo-nav-ul {
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                @extend.ul-n;
                li {
                    margin: 0 22px;
                    a {
                        color: rgba($brown-color, 1);
                        font-size: 16px;
                        font-weight: 600;
                        @extend.transetion-4;
                        &:hover {
                            color: rgba($green-color, 1);
                        }
                    }
                    &.active {
                        a {
                            color: rgba($green-color, 1);
                        }
                    }
                }
            }
        }
        .buttom-a {
            margin: 0;
            a {
                padding: 15px 20px;
            }
        }
    }
}

// end devo-min-header
// start intro-section
.intro-section {
    padding: 150px 0 0;
    .intro-contant {
        .intro-title {
            font-size: 48px;
            color: rgba($brown-color, 1);
            font-weight: 500;
        }
        .prage-intro {
            font-size: 24px;
            color: rgba($brown-color2, 1);
            font-weight: 500;
            margin: 13px 0;
        }
    }
    .intro-img {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: -122px;
            top: -114px;
            background-image: url('../img/flower-back.png');
            width: 400px;
            height: 400px;
            background-repeat: no-repeat;
            z-index: -1;
        }
        .img-intro-box {
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            &:hover {
                &::after {
                    background-color: rgba($brown-color, .6);
                }
                i {
                    background-color: rgba($white-color, .4);
                    box-shadow: 0 0 0 15px rgba($white-color, .3);
                    &::after {
                        background-color: rgba($white-color, .2);
                        bottom: -30px;
                        left: -30px;
                        right: -30px;
                        top: -30px;
                    }
                }
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                z-index: 1;
                background-color: rgba($brown-color, .5);
                @extend.transetion-4;
            }
            .popup-intro {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                z-index: 3;
            }
            i {
                z-index: 2;
                position: absolute;
                color: rgba($white-color, 1);
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);
                font-size: 32px;
                width: 75px;
                height: 75px;
                line-height: 74px;
                text-align: center;
                background-color: rgba($white-color, .3);
                border-radius: 50%;
                box-shadow: 0 0 0 10px rgba($white-color, .2);
                @extend.transetion-4;
                &::after {
                    position: absolute;
                    content: "";
                    bottom: -20px;
                    left: -20px;
                    right: -20px;
                    top: -20px;
                    border-radius: 50%;
                    background-color: rgba($white-color, .1);
                    @extend.transetion-4;
                }
            }
        }
    }
}

// end intro-section
// start how-us-section
.how-us-section {
    .box-us {
        margin: 25px 0 0;
        box-shadow: -1px 6px 20px rgba($lighr-color, 1);
        padding: 34px 34px 18px;
        text-align: center;
        border-radius: 2px;
        @extend.transetion-4;
        min-height: 266px;
        &:hover {
            box-shadow: -1px 6px 20px rgba($black-color, .1);
            transform: translateY(-5px);
        }
        .prag {
            margin: 0;
        }
    }
    .devo-big-box {
        padding: 50px 31px;
        background-color: rgba($green-color, 1);
        position: relative;
        z-index: 1;
        margin: 34px 0 0;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            background-image: url('../img/before-box1.png');
            width: 292px;
            height: 108px;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
            max-width: 100%;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            max-width: 100%;
            left: 0;
            background-image: url('../img/afetr-box1.png');
            width: 345px;
            height: 151px;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
        }
        .box-content {
            .img-box {
                background-color: rgba($white-color, 1);
                box-shadow: unset;
                margin: unset;
            }
            .box-title,
            .prag {
                color: rgba($white-color, 1);
            }
            .prag {
                max-width: 416.53px;
            }
        }
    }
}

// end how-us-section
// start our-workes-section
.our-workes-section {
    .devo-works-box {
        padding: 30px 25px 18px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;
        border-radius: 5px;
        overflow: hidden;
        margin: 5px 0;
        min-height: 244px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .devo-work-a{
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            position: absolute;
            z-index: 999;
        }

        

        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(0deg, rgba(50, 65, 72, 1) 0%, rgba(0, 0, 0, 0) 100%);
            height: 80%;
            z-index: -1;
            @extend.transetion-4;
        }
        &:hover {
            &::after {
                height: 100%;
            }
            .buttom-work-show {
                a{  
                    background-color: rgba($green-color, 1);
                    color: rgba($white-color, 1);
                }
            }
            .city-title {
                &::before {
                    width: 40px;
                }
            }
        }
        .city-title {
            color: rgba($white-color, 1);
            font-size: 18px;
            font-weight: 500;
            position: relative;
            margin: 0 0 20px;
            padding: 0 0 14px;
            &::before {
                position: absolute;
                content: "";
                bottom: 0;
                right: 0;
                @extend.transetion-4;
                width: 30px;
                border-radius: 5px;
                height: 2px;
                background-color: rgba($white-color, 1);
            }
        }
        .box-work-prag {
            font-size: 22px;
            max-width: 141px;
            font-weight: 500;
            color: rgba($white-color, 1);
            padding: 0 0 24px;
        }
    }
}

// end our-workes-section
// start cases-administration-section
.cases-administration-section {
    position: relative;
    &::after {
        content: "";
        background-image: url('../img/flower-section-back.png');
        right: 0;
        top: 100px;
        width: 210px;
        height: 650px;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 2;
    }
    .cases-section {
        z-index: 33;
        position: relative;
        .slider-box {
            width: calc(100% - 20px) !important;
            padding: 30px 30px;
            background-color: rgba($white-color, 1);
            box-shadow: -1px 13px 20px rgba($lighr-color, 1);
            border-radius: 5px;
            margin: 27px 12px;
            .box-1-ditels {
                display: flex;
                justify-content: space-between;
                .ditels-h {
                    font-size: 18px;
                    color: rgba($green-color, 1);
                    font-weight: 500;
                    margin: 0;
                }
            }
            .box-2-ditels {
                margin: 15px 0;
                .ditels-h {
                    font-size: 18px;
                    color: rgba($green-color, 1);
                    font-weight: 500;
                    margin: 0;
                    span {
                        color: rgba($dark-color, 1);
                    }
                }
            }
            .help-cases-buttom {
                margin: 30px 0 0;
                a {
                    padding: 10px 35px;
                    border: 2px solid rgba($green-color, 1);
                    border-radius: 5px;
                    color: rgba($green-color, 1);
                    font-size: 16px;
                    font-weight: 600;
                    @extend.transetion-4;
                    &:hover {
                        color: rgba($white-color, 1);
                        background-color: rgba($green-color, 1);
                    }
                }
            }
        }
    }
    .administration-section {
        padding: 33px 0 90px;
        background: url('../img/back-hand.png') rgba($green-color, 1);
        background-position: bottom;
        background-repeat: no-repeat;
        z-index: 1;
        .devo-title-section {
            .devo-title-section-h2 {
                color: rgba($white-color, 1);
                margin: 0;
            }
        }
    }
}

// end cases-administration-section
// start cunt-zakah
.form-zakat {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0 0 20px;
    .devo-form-group-title {
        font-size: 24px;
        font-weight: 600;
        color: rgba($green-color, 1);
        flex: 20%;
    }
    .zakatSelect {
        padding: 16px 44px;
        border: 1px solid rgba($gray-color2, 1);
        color: rgba($gray-color, 1);
        width: 100%;
        flex: 60%;
        background-color: rgba($white-color, 1);
        border-radius: 5px;
        &:focus {
            outline: none;
            border-color: rgba($green-color2, 1);
        }
    }
}

.form-f {
    display: flex;
    &.tow-input {
        justify-content: space-between;
        input {
            flex: unset;
            width: 39%;
            margin: 0px 10px;
        }
        .buttom-form {
            margin-right: 10px;
        }
    }
    input {
        padding: 16px 44px;
        border: 1px solid rgba($gray-color2, 1);
        color: rgba($gray-color, 1);
        width: 100%;
        flex: 66%;
        border-radius: 5px;
        font-size: 16px;
        &:focus {
            outline: none;
            border-color: rgba($green-color2, 1);
        }
    }
    .buttom-form {
        margin-right: 20px;
        flex: 5%;
        font-size: 16px;
        padding: 15px 16px;
        background-color: rgba($green-color, 1);
        border: 1px solid rgba($green-color, 1);
        border-radius: 6px;
        color: rgba($white-color, 1);
        @extend.transetion-4;
        display: inline-block;
        &:hover {
            color: rgba($green-color, 1);
            background-color: rgba($white-color, 1);
        }
        &:focus {
            outline: none;
            border-color: rgba($green-color2, 1);
        }
    }
    &.hide-form {
        display: none;
    }
}

.cunt-zakah {
    background-image: url("../img/chekHand.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px 0 0;
    padding: 60px 0 150px;
    background-size: cover;
    .form-zakat {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin: 0 0 20px;
        .devo-form-group-title {
            font-size: 24px;
            font-weight: 600;
            color: rgba($green-color, 1);
            flex: 20%;
        }
        .zakatSelect {
            padding: 16px 44px;
            border: 1px solid rgba($gray-color2, 1);
            color: rgba($gray-color, 1);
            width: 100%;
            flex: 60%;
            background-color: rgba($white-color, 1);
            border-radius: 5px;
            &:focus {
                outline: none;
                border-color: rgba($green-color2, 1);
            }
        }
    }
    .form-f {
        display: flex;
        &.tow-input {
            justify-content: space-between;
            input {
                flex: unset;
                width: 39%;
                margin: 0px 10px;
            }
            .buttom-form {
                margin-right: 10px;
            }
        }
        input {
            padding: 16px 44px;
            border: 1px solid rgba($gray-color2, 1);
            color: rgba($gray-color, 1);
            width: 100%;
            flex: 66%;
            border-radius: 5px;
            font-size: 16px;
            &:focus {
                outline: none;
                border-color: rgba($green-color2, 1);
            }
        }
        .buttom-form {
            margin-right: 20px;
            flex: 5%;
            font-size: 16px;
            padding: 15px 16px;
            background-color: rgba($green-color, 1);
            border: 1px solid rgba($green-color, 1);
            border-radius: 6px;
            color: rgba($white-color, 1);
            @extend.transetion-4;
            display: inline-block;
            &:hover {
                color: rgba($green-color, 1);
                background-color: rgba($white-color, 1);
            }
            &:focus {
                outline: none;
                border-color: rgba($green-color2, 1);
            }
        }
        &.hide-form {
            display: none;
        }
    }
    .elzakah-count-number {
        font-size: 24px;
        font-weight: 600;
        color: rgba($brown-color2, 1);
        margin: 40px 0 0;
        text-align: center;
    }
}

// end cunt-zakah
// start blog-section
.blog-section {
    .blog-slider {
        .blog-box {
            border-radius: 5px;
            border: 1px solid rgba($gray-color3, 1);
            display: flex !important;
            position: relative;
            width: calc(100% - 20px) !important;
            .blog-link {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 1;
            }
            &:hover {
                .blog-img {
                    &::after {
                        width: 100%;
                    }
                }
            }
            .blog-img {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                width: 228px;
                &::after {
                    position: absolute;
                    content: "";
                    @extend.transetion-4;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 80%;
                    background: linear-gradient(90deg, rgba(0, 0, 0, 0.521) 0%, rgba(0, 0, 0, 0) 100%);
                }
            }
            .blog-ditels {
                padding: 20px 20px 40px 33px;
                flex: 60%;
                .blog-title {
                    font-size: 22px;
                    font-weight: 600;
                }
                .blog-prag {
                    margin: 10px 0;
                    color: rgba($brown-color2, 1);
                    font-size: 18px;
                    font-weight: 500;
                }
                .blog-date {
                    font-size: 14px;
                    padding: 0 20px;
                    color: rgba($green-color, 1);
                    font-weight: 500;
                    position: relative;
                    &::after {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        color: rgba($green-color, 1);
                        font-family: "Font Awesome 5 Free";
                        right: 0;
                        content: "\f017";
                    }
                }
            }
        }
    }
}

// end blog-section
// start tabaro-section
.tabaro-section {
    // padding: 80px 0 50px;
    .tabaro-ul-box {
        .tabaro-ul-title {
            font-size: 20px;
            font-weight: 600;
            color: rgba($green-color, 1);
            margin: 0 0 20px;
        }
        .tabaro-ul {
            @extend.ul-n;
            li {
                position: relative;
                padding: 0 19px 0;
                margin: 5px 0;
                max-width: 442px;
                &::after {
                    position: absolute;
                    content: "";
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    width: 11px;
                    height: 11px;
                    background-color: rgba($green-color, 1);
                    border-radius: 50%;
                }
            }
        }
    }
}

// end tabaro-section
// start min-footer
.min-footer {
    padding: 50px 0;
    background-color: rgba($light-color2, 1);
    text-align: center;
    .prag-footer {
        font-size: 18px;
        color: rgba($brown-color, 1);
        font-weight: 500;
        margin: 20px 0;
    }
    .ul-footer-contact {
        ul {
            @extend.ul-n;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                position: relative;
                margin: 0 10px;
                &.phone-number {
                    padding: 0 0 0 27px;
                    &::after {
                        content: "\f879";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        color: rgba($green-color, 1);
                        font-size: 18px;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        left: 0;
                    }
                }
                a {
                    font-size: 18px;
                    color: rgba($green-color, 1);
                    font-weight: 500;
                    @extend.transetion-4;
                    &:hover {
                        color: rgba($brown-color2, 1);
                    }
                }
            }
        }
    }
    .footer-ul-links {
        margin: 20px 0 0;
        ul {
            @extend.ul-n;
            display: flex;
            justify-content: center;
            li {
                padding: 0 15px;
                position: relative;
                &:last-of-type {
                    &::after {
                        display: none;
                    }
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 18px;
                    background-color: rgba($black-color, 1);
                    border-radius: 5px;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                a {
                    color: rgba($black-color, 1);
                    font-size: 16px;
                    font-weight: 500;
                    @extend.transetion-4;
                    &:hover {
                        color: rgba($green-color2, 1);
                    }
                }
            }
        }
    }
}

// end min-footer
// satrt copy-footer
.copy-footer {
    border-top: 1px solid rgba($gray-color2, .8);
    padding: 25px;
    text-align: center;
    background-color: rgba($light-color2, 1);
    position: relative;
    &::after {
        position: absolute;
        content: "";
        background-image: url('../img/footer.png');
        width: 286px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: contain;
        left: 0;
        bottom: 0;
    }
    .copey-footer {
        color: rgba($gray-color, 1);
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        a {
            color: rgba($gray-color, 1);
            @extend.transetion-4;
            &:hover {
                color: rgba($green-color, 1);
            }
        }
    }
}

// end copy-footer
@keyframes show-form-animation {
    0% {
        opacity: 0;
        transform: skewX(10deg) translateY(10px);
    }
    100% {
        opacity: 1;
        transform: skewX(0deg) translateY(0);
    }
}

@media(max-width:1440px) {
    .intro-section {
        .intro-img {
            &::after {
                left: -33px;
            }
        }
    }
}

@media(max-width:1220px) {
    .buttom-a {
        a {
            padding: 12px 17px;
            font-size: 14px;
        }
    }
    .prag {
        font-size: 12px;
    }
    .devo-title-section {
        .devo-title-section-h2 {
            font-size: 30px;
        }
        .devo-title-prag {
            font-size: 18px;
        }
    }
    .devo-min-header {
        .nav-ul {
            .devo-nav-ul {
                ul {
                    li {
                        margin: 0 15px;
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }
            .buttom-a {
                a {
                    padding: 12px 17px;
                    font-size: 14px;
                }
            }
        }
    }
    .intro-section {
        .intro-contant {
            .intro-title {
                font-size: 36px;
            }
            .prage-intro {
                font-size: 20px;
            }
        }
    }
    .cases-administration-section {
        .cases-section {
            .slider-box {
                .box-1-ditels {
                    .ditels-h {
                        font-size: 14px;
                    }
                }
                .box-2-ditels {
                    .ditels-h {
                        font-size: 14px;
                    }
                }
                .help-cases-buttom {
                    a {
                        padding: 10px 25px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .cunt-zakah {
        .form-zakat {
            .devo-form-group-title {
                font-size: 18px;
            }
        }
    }
    .blog-section {
        .blog-slider {
            .blog-box {
                .blog-ditels {
                    padding: 20px 20px;
                    .blog-title {
                        font-size: 18px;
                    }
                    .blog-prag {
                        font-size: 14px;
                        margin: 12px 0;
                    }
                    .blog-date {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media(max-width:992px) {
    .devo-info-header {
        display: none;
    }
    .devo-min-header {
        .menu-icon {
            display: block;
            text-align: end;
            margin: 13px 0;
            i {
                cursor: pointer;
                color: rgba($green-color, 1);
                font-size: 26px;
            }
        }
        .nav-ul {
            padding: 60px 0 0;
            overflow-y: scroll;
            position: fixed;
            top: 0;
            left: -500px;
            bottom: 0;
            z-index: 99999;
            background-color: rgba($green-color, 1);
            justify-content: flex-start;
            flex-direction: column;
            width: 250px;
            box-shadow: 5px 0 10px rgba($brown-color, .6);
            .info-ul {
                display: block;
                .soshile-ul-box {
                    ul {
                        justify-content: center;
                    }
                }
                .contact-ul {
                    ul {
                        display: block;
                        li {
                            margin: 10px 0;
                            &:last-of-type {
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .close-icon {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                i {
                    font-size: 26px;
                    color: rgba($white-color, 1);
                    padding: 10px 16px;
                    cursor: pointer;
                }
            }
            .devo-nav-ul {
                ul {
                    justify-content: flex-start;
                    flex-direction: column;
                    li {
                        margin: 12px 15px;

                        &.active{
                            a{
                                color: rgba($brown-color, 1);
                            }
                        }
                        a {
                            color: rgba($white-color, 1);
                            &:hover{
                                color: rgba($brown-color, 1);
                            }
                        }
                    }
                }
            }
            .buttom-a {
                margin: 12px 0;
                a {
                    background-color: rgba($white-color, 1);
                    color: rgba($green-color, 1);
                    &:hover {
                        border: 1px solid rgba($white-color, 1);
                        background-color: rgba($green-color, 1);
                        color: rgba($white-color, 1);
                    }
                }
            }
        }
    }
    .intro-section {
        padding: 97px 0 0;
        .intro-img {
            .img-intro-box {
                i {
                    width: 56px;
                    height: 56px;
                    line-height: 55px;
                    font-size: 24px;
                }
            }
            &::after {
                width: 330px;
                height: 302px;
                background-size: contain;
                left: -19px;
                top: -65px;
            }
        }
        .intro-contant {
            .intro-title {
                font-size: 24px;
            }
            .prage-intro {
                font-size: 16px;
            }
        }
    }
    .img-box {
        width: 70px;
        height: 70px;
        line-height: 69px;
    }
    .box-title {
        font-size: 18px;
    }
    .our-workes-section {
        .devo-works-box {
            min-height: 223px;
            .box-work-prag {
                font-size: 18px;
            }
        }
    }
    .cunt-zakah {
        padding: 60px 0 50px;
        .form-zakat {
            .devo-form-group-title {
                font-size: 14px;
            }
        }
        .form-f {
            flex-direction: column;
            input {
                font-size: 12px;
                flex: 1;
                width: 100% !important;
                margin: 6px 0 !important;
            }
            .buttom-form {
                margin: 6px 0 !important;
            }
        }
    }
    .blog-section {
        .blog-slider {
            .blog-img {
                width: 117px !important;
            }
            .blog-box {
                .blog-ditels {
                    padding: 16px 20px;
                    .blog-title {
                        font-size: 16px;
                    }
                    .blog-prag {
                        font-size: 12px;
                        margin: 12px 0;
                    }
                    .blog-date {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .min-footer {
        .prag-footer {
            font-size: 14px;
        }
        .ul-footer-contact {
            ul {
                li {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
        .footer-ul-links {
            ul {
                li {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .copy-footer {
        .copey-footer {
            font-size: 16px;
        }
    }
}

@media(max-width:772px) {
    .prag {
        font-size: 14px;
    }
    .padi-50 {
        padding: 20px 0;
    }
    .box-title {
        font-size: 14px;
    }
    .intro-section {
        padding: 20px 0 0;
        .intro-img {
            padding: 20px 0 0;
            &::after {
                display: none;
            }
        }
    }
    .how-us-section {
        .devo-big-box {
            padding: 39px 31px;
            .box-content {
                text-align: center;
                margin: 10px 0;
                .img-box {
                    margin: 0 auto;
                }
                .prag {
                    max-width: unset;
                    font-size: 12px;
                }
            }
        }
    }
    .devo-title-section {
        .devo-title-section-h2 {
            font-size: 24px;
        }
        .devo-title-prag {
            font-size: 14px;
        }
    }
    .blog-section {
        .blog-slider {
            .blog-img {
                width: 163px !important;
            }
        }
    }
    .cunt-zakah {
        padding: 0;
        margin: 40px 0;
        .elzakah-count-number {
            margin: 20px 0 0;
        }
        .form-zakat {
            flex-direction: column;
            align-items: flex-start;
            .devo-form-group-title {
                font-size: 14px;
                margin: 10px 0;
            }
        }
        .elzakah-count-number {
            font-size: 14px;
        }
    }
    .tabaro-section {
        .tabaro-ul-box {
            .tabaro-ul {
                margin: 0 0 20px;
                li {
                    .prag {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .copy-footer {
        z-index: 1;
        &::after {
            width: 180px;
            height: 70px;
            z-index: -1;
        }
    }
    .buttom-a2 {
        margin: 18px 0 0;
        a {
            font-size: 12px;
        }
    }
    .tabaro-section {
        // padding: 40px 0;
    }
    .cases-administration-section {
        .cases-section {
            .slider-box {
                box-shadow: 0px 0px 14px rgba($lighr-color, .5);
            }
        }
        &::after {
            top: 241px;
            width: 113px;
            height: 431px;
        }
    }
    .min-footer {
        .footer-ul-links {
            ul {
                flex-wrap: wrap;
                li {
                    margin: 6px 0;
                }
            }
        }
    }
    .buttom-work-show {
        a {
            font-size: 13px;
            padding: 5px 28px 3px;
        }
    }
    .devo-title-section {
        padding: 0 0 20px;
    }
}

@media(max-width:400px) {
    .cases-administration-section {
        &::after {
            width: 109px;
        }
    }
    .how-us-section {
        .devo-big-box {
            padding: 24px 14px;
        }
    }
    .min-footer {
        .ul-footer-contact {
            ul {
                li {
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.pageul {
    padding: 22px 0 50px;
    .page-ul {
        ul {
            display: flex;
            @extend.ul-n;
            li {
                padding: 0 0 0 20px;
                position: relative;
                margin: 0 0 0 10px;
                &::after {
                    content: "\f053";
                    position: absolute;
                    bottom: 0;
                    color: rgba($brown-color, 1);
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    left: 0;
                }
                &:last-of-type {
                    &::after {
                        display: none;
                    }
                }
                a {
                    color: rgba($brown-color, 1);
                    font-size: 14px;
                    font-weight: 500;
                    @extend.transetion-4;
                    &:hover {
                        color: rgba($green-color, 1);
                    }
                }
            }
        }
    }
}

.cunt-zakah-pag {
    background-image: url('../img/chekHand.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: 0 0 150px;
    .zhakah-box {
        background-color: rgba($white-color, 1);
        box-shadow: 0 3px 15px rgba($brown-color2, .16);
        padding: 40px 0 80px;
        border-radius: 5px;
        margin: 100px 0 0;
        .form-zakat {
            display: block;
            text-align: center;
            .devo-form-group-title {
                margin: 0 0 24px;
            }
        }
        .form-f {
            flex-direction: column;
            input {
                margin: 10px 0;
                width: 100%;
            }
            .buttom-form {
                margin: 10px 0;
            }
        }
        .elzakah-count-number {
            padding: 13px 0;
            text-align: center;
            margin: 10px 0;
            font-size: 24px;
            background-color: rgba($gray-color4, 1);
        }
    }
}

@media(max-width:772px) {
    .cunt-zakah-pag {
        margin: 0 0 50px;
        .zhakah-box {
            margin: 15px 0 0;
            padding: 40px 0 40px;
            .elzakah-count-number {
                font-size: 18px;
            }
        }
        .devo-form-group-title {
            font-size: 18px;
        }
    }
    .pageul {
        .page-ul {
            ul {
                li {
                    &::after {
                        font-size: 10px;
                    }
                    a {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}